

<style>
 .required {
     color: red;
 }

 .sparccolor {

    background-color: #1C1B45; 
    color: white;
    border-radius: 4px;
    padding: 10px 28px;
 }

 .sparclabel {
     color: #1C1B45;
 }

 .sparcheading , .sparcheader {
     color: gray;
     text-align: center;
     font-size: smaller;
 }

 .sparcheader {
     font-size: medium !important;
     margin-bottom: 0px;
     padding-bottom: 0px;
 }

 div {
     font-family: Sans-serif;
 }

 .form-input {

    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    border-radius: .25rem;
    width: 100%;
    transition: border .1s linear,background-color .1s linear;
    display: inline-block;
    padding: 0 1rem 0 .75rem;
    line-height: 1.875rem;
    min-height: calc(1.875rem + (1px * 2));
 }
</style>

<div>
<div style="float: right; width: 50%;">
<p class="sparcheader">Need Answers Fast?</p>
<p class="sparcheading">Find out what you need here.</p>
</div>


<div style="width: 50%;">
<p class="sparcheader">Contact Customer Support</p>
<p class="sparcheading">Tell us how we can help.</p>

<%= form_for(@support , :url=> {:action=>'contactsupport'})do |f| %>

<table style="margin-left: auto; margin-right: auto">
<tr> 
 <td>
 <span class="required">*</span><span="sparclabel"><%= f.label :name %></span>
 </td>
</tr>

<tr> 
 <td>
  <%= f.text_field :name, :size => 60, required: true, class: "form-input" %>
 </td>
</tr>

<tr> 
 <td>
 <span class="required">*</span><span class="sparclabel"><%= f.label :phone%></span>
 </td>
</tr>

<tr> 
 <td>
 <%= f.text_field :phone, :size => 60, required: true, class: "form-input"  %>
 </td>
</tr>

<tr>
<td>
<span class="required">*</span><span class="sparclabel"><%= f.label :email %></span>
</td>
</tr>


<tr>
<td>
<%= f.text_field :email, :size => 60, required: true, class: "form-input"  %>
</td>
</tr>


<tr>
<td>
<span class="required">*</span><span class="sparclabel"><%= f.label :company %></span>
</td>
</tr>


<tr>
<td>
  <%= f.text_field :company, :size => 60, required: true, class: "form-input"  %>
</td>
</tr>


<tr>
<td>
<span class="required">*</span><span class="sparclabel"><%= f.label :subject %></span>
</td>
</tr>


<tr>
<td>
<%= f.text_field :subject, :size => 60, required: true, class: "form-input"  %>
</td>
</tr>


<tr>
<td>
<span class="required">*</span><span class="sparclabel"><%= f.label :description %></span>
</td>
</tr>


<tr>
<td>
<%= f.text_area :description, :size => "84x3", required: true, class: "form-input"  %>
</td>
</tr>

<tr style="text-align: center;">
 <td>
 <%= f.submit "Submit", class: "sparccolor" %>
 </td>
</tr>


</table>

<% end %>   
 </div>
 </div>