<style>
/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
  opacity: 50px;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 

</style>

<%= call_hook :view_account_login_top %>



<div class="container">
        <img src="<%= Redmine::Utils.relative_url_root %>/images/sparc_graduation.jpg" alt="Snow" style="width:100%;">
        <div class="bottom-left">Bottom Left</div>
        <div class="top-left">Top Left</div>
        <div class="top-right">Top Right</div>
        <div class="bottom-right">Bottom Right</div>
        <div id="centred">
        <%= form_tag({:controller => 'search', :action => 'index', :id => @project}, :method => :get ) do %>
        <%= hidden_field_tag 'scope', default_search_project_scope, :id => nil %>
        <%= hidden_field_tag(controller.default_search_scope, 1, :id => nil) if controller.default_search_scope %>
        <label for='q'>
          <%= link_to l(:label_search), {:controller => 'search', :action => 'index', :id => @project}, :accesskey => accesskey(:search) %>:
        </label>
        <%= text_field_tag 'q', @question, :size => 40, :class => 'small', :accesskey => accesskey(:quick_search) %>
        <% end %>

        <%= render_project_jump_box if User.current.logged? %>
    </div>
</div> 

<div id="login-form">
  <%= form_tag(signin_path, onsubmit: 'return keepAnchorOnSignIn(this);') do %>
  <%= back_url_hidden_field_tag %>
  
  <label for="username"><%=l(:field_login)%></label>
  <%= text_field_tag 'username', params[:username], :tabindex => '1' %>
  
  <label for="password">
    <%=l(:field_password)%>
    <%= link_to l(:label_password_lost), lost_password_path, :class => "lost_password" if Setting.lost_password? %>
  </label>
  <%= password_field_tag 'password', nil, :tabindex => '2' %>
  
  <% if Setting.openid? %>
    <label for="openid_url"><%=l(:field_identity_url)%></label>
    <%= text_field_tag "openid_url", nil, :tabindex => '3' %>
  <% end %>
  
  <% if Setting.autologin? %>
    <label for="autologin"><%= check_box_tag 'autologin', 1, false, :tabindex => 4 %> <%= l(:label_stay_logged_in) %></label>
  <% end %>
  
  <input type="submit" name="login" value="<%=l(:button_login)%>" tabindex="5" id="login-submit" />

  <p><a href="http://support.sparcsystems.africa/contactsupport">Contact Support</a></p>
  
  <% end %>
</div>

<%= call_hook :view_account_login_bottom %>

<% if params[:username].present? %>
<%= javascript_tag "$('#password').focus();" %>
<% else %>
<%= javascript_tag "$('#username').focus();" %>
<% end %>
